body {
    background-color: #E2FFFF;
    color: #15495E;
    font-display: sans-serif;
    font-family: Arial, Vandra, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
   
    
}
nav{
   
    font-weight: bold;
    display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
   
    
   
    
} 

h1 {
    line-height: 200%;
    font-family: serif;
    text-indent: 1em;
    text-shadow: #000000 3px 3px 5px;
    color: white;
    
}

h2 {
    font-family: serif;
    background-color: #B0E6E6;
    color: #237B7B;
    text-align: center;
}

.footer{
    text-align: center;
    font-style: italic;
    background-color: #237B7B;
    color: white ; 
    border-left: 50px solid #40407A;
    border-right: 50px solid #40407A;  
    font-size: 0.80em;

}

header {
    height: 150px;
    padding-left: 2em;
    background-color: #80CBC4;
    background-image:url(images/lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

#wrapper{
    background-color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 400px;
    max-width: 1280px;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}
main{
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
}
#hero{
    display: block;
    text-align: center;

}

.navMenu{
display: block;
text-align: center;
text-decoration: none;
border-style: outset;
border-width: 3px;
border-color: #CCCCCC;
padding: 1em;
margin-bottom: 1em;
}

nav ul { 
    display: flex;
   flex-wrap: wrap;
    justify-content: center; 

}

li a {
    width: 70px;

 }

 .nav-logo{
    margin:0 auto;

 }
